* {
  padding: 0; 
  margin:0; 
  box-sizing: border-box;
  font-family:Montserrat, sans-serif;
}

body{
    background-color: #ffffff;
}

a{ text-decoration: none; }




/* barre de navigation*/

:root{
  --hauteur-menu: 60px;
}

nav {
  z-index: 5;
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  height: var(--hauteur-menu);
}
 
nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: white;
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: black;
}


 nav > ul > li:hover > a{
  color: #2169EC;
}





.container{

  position: relative;
  text-align: center;
  margin-top: 550px;
  padding-bottom: 50px;
}
.container2{
  position: relative;
  text-align: center;
  margin-bottom: 200px;
}


.header{

  text-transform: uppercase;
  text-align: center;
  font-size: 45px;
  height: 100%;
  align-items: center;
  margin: 100px;
}


/* Le slider*/

.slider {
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  width: 1000px;
  height: 500px;
  border: solid 4px white;
  box-shadow: 0 0 14px rgba(0,0,0,0.3);
  position: relative;
}

.slider img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.slider img.active {
    opacity: 1;
}

.suivant, .precedent {
    color: #fff;
    font-size: 6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.suivant {
    color: black;
    right: 1rem;
}

.precedent {
    color: black;
    left: 1rem;
}



/* Lorsque l' écran de la page devient de plus en plus petit,
le slider et le header vont s'adapter et changer de taille */

@media screen and (max-width:1040px) {

  .slider {
    width: 800px;
    height: 500px;
  }
  .header{
  font-size: 35px;
  }


@media screen and (max-width:830px) {

  .slider {
    width: 300px;
    height: 500px;
  }

  .suivant, .precedent {
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
  .suivant {
    color: black;
    right: 1rem;
}

  .precedent {
    color: black;
    left: 1rem;
}
  
  .slider img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .header{
    font-size: 20px;
}
  nav {
    font-size: 0.75rem;
}

   .container{

    font-size: 1.10em;

}

.container2{
  font-size: 0.75em;

}
}

